<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
      <br>
      <%= profile.name %>'s submissions
    </div>
  <% } %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <i class="fas fa-arrow-down-wide-short"></i>
          Rank</th>
        <th scope="col">
          <i class="fas fa-user"></i>
        Name</th>
        <th scope="col">
          <i class="fas fa-star-half-stroke"></i>
          Rating</th>
      </tr>
    </thead>
    <tbody>
      <% bandnames.forEach((bandname, index) => { %>
      <% if (bandname.owner.equals(profile._id)) { %>
   <tr>
      <td class="td">#<%= index+1 %> </td>
      <td class="td"><a href="/bandnames/<%= bandname._id %>">
        <%= bandname.name %></a></td>
       <td class="td star-rating">
        <% for( let i = 0; i < (5 - bandname.avg); i++) { %>
          <label class = ""></label>
        <% } %>
        <% for(let i = 0; i < bandname.avg; i++) { %>
          <label class = "checked"></label>
        <% } %> 
      </td>
        <td>  
          <% if (bandname.owner.equals(user?.profile._id)) { %>
            <form action="/bandnames/<%= bandname._id %>?_method=DELETE" method="POST">
            <button><i class="fas fa-trash-can"></i></button>
          </form>
          <% } %>
      </td>
  </tr>
  <% } %>
  <% }) %>
</tbody>
</table>
</main>


<%- include('../partials/footer') %>