<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
      <br>
      <%= profile.name %>'s submissions
    </div>
  <% } %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <i class="fas fa-arrow-down-wide-short">
          </i>Rank</th>
        <th scope="col"><i class="fas fa-user">
        </i>Name</th>
        <th scope="col"><i class="fas fa-star-half-stroke"></i>Rating</th>
      </tr>
    </thead>
    <tbody>
      <!-- <#% if (bandname.owner.equals(user?.profile._id)) { %>
  <#% bandnames.forEach(bandname => { %> -->
    <!-- <tr>
      <td class="td">#</td>
      <td class="td"><a href="/bandnames/<%#= bandname._id %>"><%#= bandname.name %></a></td>
      <td class="td"><%#= bandname.avg %>
        <%#- include('../partials/star') %>
      </td>
        <td>  
        <form action="/bandnames/<%#= bandname._id %>?_method=DELETE" method="POST">
        <button><i class="fas fa-trash-can"></i></button>
      </form>
      
      </td>
  </tr> -->
  <%# }) %>
  <%# } %>
</tbody>
</table>
</main>


<%- include('../partials/footer') %>