<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/bandnames/edit.css">
<%- include('../partials/nav') %>

<section>
  <h1>Edit <%= bandname.name %> Bio</h1>
  <form action="/bandnames/<%= bandname._id %>?_method=PUT" method="POST">
    <label>
      Bio (200 characters max):
      <br>
      <textarea name="bio" id="bio-textarea" value="<%= bandname.bio %>" autocomplete="off"></textarea>
    </label>
    <button type="submit">Submit</button>
  </form>
</section>

<%- include('../partials/footer') %>