<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/bandnames/edit.css">
<%- include('../partials/nav') %>

<section>
  <h1>Edit the Bandname Bio</h1>
  <form action="/bandnames/<%= bandname._id %>?_method=PUT" method="POST">
    <label>
      Name:
      <input 
        type="text" 
        name="bio" 
        value="<%= bandname.bio %>"
        autocomplete="off"
      >
    </label>
    <button type="submit">Edit the Bio</button>
  </form>
</section>

<%- include('../partials/footer') %>