<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Awful Awful Bandnames</h1>
  <h2>The Worst of the Worst</h2>
	<ul>
  <% bandnames.forEach(bandname => { %>
    <li>#<a href="/bandnames/<%= bandname._id %>"></a> <%= bandname.name %> <%#= rating %></li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>