<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/bandnames/index.css">
<%- include('../partials/nav') %>

<section>
  <h1>Awful Awful Bandnames</h1>
  <h2>The Worst of the Worst</h2>

  <% bandnames.forEach(bandname => { %>
    <tr>
      <td><%= bandname.name %></td>
      <td><%= bandname.rating %></td>
      <td><a href="/bandnames/<%= bandname._id %>">DETAILS</a></td>
        <td>  
        <form action="/bandnames/<%= bandname._id %>?_method=DELETE" method="POST">
        <button>Delete?</button>
      </form>
      </td>
  </tr>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>