<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/bandnames/index.css">
<%- include('../partials/nav') %>

<section>
  <h1>Awful... Awful Fake Bandnames</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><i class="fas fa-arrow-down-wide-short"></i>Rank</th>
        <th scope="col">Name</th>
        <th scope="col"><i class="fas fa-star-half-stroke"></i>Rating</th>
      </tr>
    </thead>
    <tbody>
  <% bandnames.forEach(bandname => { %>
    <tr>
      <td class="td">#</td>
      <td class="td"><a href="/bandnames/<%= bandname._id %>"><%= bandname.name %></a></td>
      <td class="td"><%= bandname.avg %></td>
        <td>  
          <% if (bandname.owner.equals(user?.profile._id)) { %>
        <form action="/bandnames/<%= bandname._id %>?_method=DELETE" method="POST">
        <button><i class="fas fa-trash-can"></i></button>
      </form>
      <% } %>
      </td>
  </tr>
  <% }) %>
</tbody>
</table>
</section>

<%- include('../partials/footer') %>