<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/bandnames/show.css">
<%- include('../partials/nav') %>

<section>
  <h1><%= bandname.name %></h1>
  <div class="star-rating">
    <%- include('../partials/star-rating') %>
  </div>
  <h2>Bio: <%= bandname.bio %></h2>
  <p>Submitted by <a href="/profiles/<%= bandname.owner._id %>">
    <%= bandname.owner.name %></a></p> 
  <form 
  action="/bandnames/<%= bandname._id %>/ratings"
  id="add-rating"
  method="POST">
  <%- include('../partials/star') %>
  <br>
  <button type="submit">Submit Rating</button>
  </form>
  <% if (bandname.owner.equals(user?.profile._id)) { %>
    <form action="/bandnames/<%= bandname._id %>/edit" method="GET">
      <button type="submit"><i class="fas fa-pen-to-square"></i></button>
    </form>
    <form action="/bandnames/<%= bandname._id %>?_method=DELETE" method="POST">
      <button type="submit"><i class="fas fa-trash-can"></i></button>
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>