<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/bandnames/show.css">
<%- include('../partials/nav') %>

<section>
  <p>Submitted by <%= bandname.owner.name %></p>
  <h1><%= bandname.name %> Bandname</h1>
  <% if (bandname.owner.equals(user?.profile._id)) { %>
    <form action="/bandnames/<%= bandname._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete this bandname ?</button>
    </form>
  <% } %>
</section>

// REFACTOR FOR EDITING BIO

<%- include('../partials/footer') %>